@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    text-decoration: none;
}
body{
    background: linear-gradient(90deg, #2f1cff, #db5b6e );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-wrapper{
    width: 320px;
    text-align: center;
    border-radius: 08px;
    background-color: #fff;
    margin: 0 14px;
}
.card-header{
    background: #2c3a47;
    padding: 60px 40px;
}
.picture img{
    border-radius: 50px;
    display: block;
    margin-top: -50px;
}