@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    text-decoration: none;
}
body{
    background: linear-gradient(90deg, #2f1cff, #db5b6e );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-wrapper{
    width: 320px;
    text-align: center;
    border-radius: 08px;
    background-color: #fff;
    margin: 0 14px;
}
.card-header{
    background: #2c3a47;
    padding: 60px 40px;
}
.picture img{
    border-radius: 50px;
    display: block;
    margin-top: -50px;
}
.name{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 05px;
}
.position{
    font-size: 15px;
    color: #5372f0;
    font-weight: 400;
}
.buttons .features{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0px;
}
.features ul{
    display: flex;
}
.features ul li{
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #fff;
    list-style-type: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid #5372f0;
    transition: all 0.3s ease;
}
ul li:is(:hover, .active){
    color: #fff;
    background: #5372f0;
}
.contact{
    display: inline-block;
    padding: 07px 5px;
    color: #5375f0;
    border: 2px solid #5375f0;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s linear;
    

}
.cont-details:hover{
    background-color: #5375f0;
    color: #f2f2f2;

}
.card-footer{
    background-color: #fff;
    align-items: center;
}
